/* All styles for your header Components live here */
.header {
    border: 1px solid red;
    display: flex;
}
.thumbnail {
    width: 75px;
    height: 75px;
}
.title {
    display: flex;
}
.content {
    display: inline-block;
}