.container {
    width: 800px;
    margin: 0 auto;
}
.calculator-display {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 0 auto;
}

.calculator-operation {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    margin: 0 auto;
}